.dFour{
    width: 5rem;   
}

.dSix{
    width: 5rem; 
}

.dEight{
    width: 5rem;
}

.dTen{
    width: 5rem;
}

.dTwelve{
    width: 5rem;
}

.dTwenty{
    width: 5rem;
}

.flexRow{
    display: flex;
    justify-content: center;
}
.flexColumn{
    display: flex;
    flex-direction: column;
justify-content: center;
}

.text{
    font-size: x-large;
}

.numberFour{
    font-size: 90px;
    position: "fixed";
    text-align: center;
    
}